<div class="container" style="max-width: 850px;">
    <div class="contenedor basicMainCont text-center" style="margin-bottom: 0px;">
        <div class="row">
            <div class="col mt-5">
                <h1 style="color: white;">Olvidaste tu contraseña?</h1>
            </div>
            <div class="w-100"></div>
            <hr>
            <div class="col">
                <p>Ingresa el mail con el que te has registrado, enviaremos un correo para que puedas cambiar tu
                    contraseña.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <form class="p-5 rounded" action="/login">
            <div class="mb-3 mx-4">
                <label class="form-label" for="exampleInputEmail1" style="color: #D0FD3E;">Email</label>
                <input type="email"
                    class="form-control bg-transparent border-start-0 border-end-0 border-top-0 text-white"
                    style="border-radius: 0%;" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Ingresa tu dirección de correo">
            </div>
            <div class="container-sm text-center" style="margin: 80px 0px 20px 0px">
                <div class="row-cols-1">
                    <div class="col">
                        <button type="submit" class="standard-button">Enviar</button>
                    </div>
                </div>
            </div>
        </form>
    </div> 
</div>