<ul *ngIf="isToken" class="nav nav-pills mb-4 nav-fill nav-justified" id="pills-tab" role="tablist">
    <ng-template ngFor let-page [ngForOf]="getCurrentPageTitles()" let-isFirst="first">
        <li class="nav-item" role="presentation">
            <button [ngClass]="{'active': isFirst}" class="nav-link col-6" id="pills-{{page}}-tab" data-bs-toggle="pill"
                [attr.data-bs-target]="'#pills-' + page"  type="button" role="tab" [attr.aria-controls]="'pills-'+page" aria-selected="isFirst">
                {{page==="inscripto" && currentRoute==="/clases-plan" ? "clases": page}}
            </button>
        </li>
    </ng-template>
</ul>
<app-searchbox></app-searchbox>
<app-tab-content [parentPageTitles]='getCurrentPageTitles()'></app-tab-content>