<div class="container text-center basicMainCont">
    <div class="row-cols-1">
        <div class="col">
            <h1>
                Te esperamos de Lunes a Viernes de 08:00 a 22:00 hs
            </h1>
        </div>
    </div>
</div>
<div class="container-xxl text-center basicMainCont">
    <div class="row-cols-1">
        <div class="col">
            <a class="btn-outline-primary" routerLink="/https://www.google.com.ar/maps/place/Ar%C3%ADstides+Vip/@-32.8928345,-68.8589727,16z/data=!4m10!1m2!2m1!1sgym!3m6!1s0x967e093958dca843:0xcd83f81f1902481f!8m2!3d-32.8926501!4d-68.8539284!15sCgNneW2SAQNneW3gAQA!16s%2Fg%2F1tlwb8zb?entry=ttu" role="button">
                <img src="assets/DireccionMaps.png" class="img-thumbnail" alt="Direccion">
            </a>
        </div>
    </div>
</div>