<div class="container mt-5" style="max-width: 850px;">
    <form class="p-5 rounded">
        <!-- Campos de Submit -->
        <div *ngFor="let opLabel of ['Email', 'Password', 'Password']; last as lastLabel; index as labelIndex" class="mb-3 mx-4">
            <div *ngIf="getCurrentRoute() === '/register' || (getCurrentRoute() === '/login' && !lastLabel)||(getCurrentRoute() === '/recover-pass' && !labelIndex)">
                <label class="form-label" for="Input {{opLabel}}" style="color: #D0FD3E;">{{opLabel}}</label>
                <input type="{{opLabel}}"
                    class="form-control bg-transparent border-start-0 border-end-0 border-top-0 text-white"
                    style="border-radius: 0%;" id="Input {{opLabel}}{{labelIndex}}" placeholder="{{!labelIndex? 'Ingresa tu dirección de correo':lastLabel? 'Repetí tu contraseña':'Ingresa tu contraseña'}}">
                <hr>
            </div>
        </div>
        <!-- Selector de sexo -->
        <div *ngIf="getCurrentRoute() === '/register'; else recoverPassBlock" class="mx-4 d-flex align-items-center">
            <span style="color: #D0FD3E;">Sexo: </span>
            <div class="btn-group dropend mx-2">
                <button class="btn dropdown-toggle" style="color: #D0FD3E;" id="dropdownMenuButton" type="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    {{ selectedOption }}
                </button>
                <ul class="dropdown-menu" id="dropdownMenuOptions">
                    <li *ngFor="let sexo of ['Masculino', 'Femenino']"><a class="dropdown-item" id="option{{sexo}}" (click)="selectedOption = sexo">{{sexo}}</a></li>
                </ul>
            </div>
        </div>
        <ng-template #recoverPassBlock>
            <div *ngIf="getCurrentRoute()==='/login'" class="mx-4 text-end">
                <a routerLink="/recover-pass" style="color: #D0FD3E; text-decoration: none">Olvidaste tu contraseña?</a>
            </div>
        </ng-template>
        <div class="container-sm text-center" style="margin: 30px 0px 20px 0px">
            <div class="row-cols-1">
                <div class="col">
                    <div *ngIf="getCurrentRoute()==='/login'; else elseButtonBlock">
                        <button type="submit" (click)="login()" class="standard-button">Iniciar Sesión</button>
                    </div>
                    <ng-template #elseButtonBlock>
                        <button type="submit" (click)="getCurrentRoute()==='/recover-pass'? sendRecoverEmail():''" class="standard-button" routerLink="{{getCurrentRoute()==='/register'? '/register-form':'/login'}}">{{getCurrentRoute()==='/register'? 'Register':'Enviar'}}</button>
                    </ng-template>
                </div>
            </div>
		</div>
        <div *ngIf="getCurrentRoute()!=='/recover-pass'" class="mb-3 mx-4 text-center text-white">
            <p>Aun no tienes una cuenta? <a routerLink="{{getCurrentRoute()!=='/login'? '/login': '/register'}}">{{getCurrentRoute()!=='/login'? 'Iniciar Sesion': 'Registrarse'}}</a></p>
        </div>
    </form>
</div>