<div class="container mt-5 form-container">
    <form class="p-5 rounded" [formGroup]="getFormGroup()">
        <!-- Campos de Submit -->
        <div *ngFor="let opLabel of getIterable(); last as lastLabel; index as labelIndex" class="mb-3 mx-4">
            <label class="form-label" style="color: #D0FD3E;">{{opLabel}}</label>
            <input type="{{opLabel}}"
                class="login-input form-control bg-transparent text-white" placeholder="{{!labelIndex? 'Ingresa tu dirección de correo':labelIndex === 2? 'Repetí tu contraseña':'Ingresa tu contraseña (no mas de 32 caracteres)'}}" formControlName="{{!labelIndex? 'email': 'password'+labelIndex}}">
            <div class='warning-text' *ngIf="getFormValue(labelIndex)?.invalid && getFormValue(labelIndex).value !== ''">
                Este campo es incorrecto
            </div>
            <div class='warning-text' *ngIf="labelIndex===1 && !samePasswordCondition">
                Las contraseñas no coinciden
            </div>
            <hr>
        </div>
        <!-- Recuperar contraseña -->
        <div *ngIf="getCurrentRoute()==='/login'" class="mx-4 text-end">
            <a routerLink="/recover-pass" style="color: #D0FD3E; text-decoration: none">Olvidaste tu contraseña?</a>
        </div>
        <!-- Boton de Submit -->
        <div class="container-sm text-center" style="margin: 30px 0px 20px 0px">
            <div class="row-cols-1">
                <div class="col">
                    <button (click)="submit()" class="standard-button">{{getCurrentRoute()==='/register'? 'Register':getCurrentRoute()==='/login'? 'Iniciar Sesión': 'Enviar'}}</button>
                </div>
            </div>
        </div>
        <div *ngIf="getCurrentRoute()!=='/recover-pass'" class="mb-3 mx-4 text-center text-white">
            <p>Aun no tienes una cuenta? <a routerLink="{{getCurrentRoute()!=='/login'? '/login': '/register'}}">{{getCurrentRoute()!=='/login'? 'Iniciar Sesion': 'Registrarse'}}</a></p>
        </div>
    </form>
</div>