<div class="container mt-5" style="max-width: 850px">
    <div class="col-sm">
        <h2 class="text-white mb-3">Administración</h2>
        <!-- Nav pills -->
        <ul class="nav nav-pills mb-4 nav-fill" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active col-6" id="pills-home-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home"
                    aria-selected="true">
                    PROFESORES
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link col-6" id="pills-profile-tab" data-bs-toggle="pill"
                    data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile"
                    aria-selected="false">
                    ALUMNOS
                </button>
            </li>
        </ul>
        <!-- Searchbox -->
        <div class="d-flex justify-content-center align-items-start">
            <div class="input-group me-1">
                <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar Inscripto">
            </div>
        </div>
        <!-- tab pages -->
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                <div class="card-deck">
                    <div class="card border-0 mt-4">
                        <div class="d-flex align-items-center card-body">
                            <div class="profesor-card me-3">
                                <img class="img-fluid" src="assets/profe 22.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="card-title">Linus Torvalds</h5>
                                <p class="card-text">
                                    <span class="material-symbols-outlined me-1">
                                        bolt
                                    </span> Crossfit
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card border-0 mt-4">
                        <div class="d-flex align-items-center card-body">
                            <div class="profesor-card me-3">
                                <img class="img-fluid" src="assets/profe 21.png" alt="">
                            </div>
                            <div class="d-flex flex-column">
                                <h5 class="card-title">Elon Musk </h5>
                                <p class="card-text">
                                    <span class="material-symbols-outlined me-1">
                                        bolt
                                    </span> Cardio
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="nav nav-fill justify-content-end fav-container">
                    <a class="btn btn-primary fav" routerLink="/register" role="button">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor"
                            class="bi bi-plus" viewBox="0 0 16 16">
                            <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                        </svg>
                    </a>
                </div>
            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="card-deck">
                    <div class="card border-0 mt-4">
                        <div class="d-flex align-items-center card-body">
                            <div class="d-flex flex-column">
                                <h5 class="card-title">Micheal Jackson </h5>
                                <p class="card-text">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-lightning-charge me-2" viewBox="0 0 16 16">
                                        <path
                                            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09zM4.157 8.5H7a.5.5 0 0 1 .478.647L6.11 13.59l5.732-6.09H9a.5.5 0 0 1-.478-.647L9.89 2.41 4.157 8.5z" />
                                    </svg> Crossfit
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                        fill="currentColor" class="bi bi-activity ms-3 me-2" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd"
                                            d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                                    </svg> Cardio
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card border-0 mt-4">
                    <div class="d-flex align-items-center card-body">
                        <div class="d-flex flex-column">
                            <h5 class="card-title">Tomas Bourguet </h5>
                            <p class="card-text">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-activity me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M6 2a.5.5 0 0 1 .47.33L10 12.036l1.53-4.208A.5.5 0 0 1 12 7.5h3.5a.5.5 0 0 1 0 1h-3.15l-1.88 5.17a.5.5 0 0 1-.94 0L6 3.964 4.47 8.171A.5.5 0 0 1 4 8.5H.5a.5.5 0 0 1 0-1h3.15l1.88-5.17A.5.5 0 0 1 6 2Z" />
                                </svg> Cardio
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>