:root {
    --background-color-focus: #d0fd3e;
    --background-color-inactive: #1b232e;
    --border-radius: 6px;
    --text-color-inactive: #8076b0;
  }
  
  .card-title {
    font-family: "Ubuntu";
    font-weight: 700;
  }
  .card-text {
    font-family: "Ubuntu";
    font-weight: 300;
  }
  .card .card-body {
    background-color: var(--background-color-inactive);
    border-radius: 10px;
    color: white;
    transition: background 2s ease, opacity 2s step-start;
    /* transform: scale(1);  */
    transition: transform 0.5s ease;
  }
  .card {
    background-color: var(--background-color-inactive);
    border-radius: 10px;
  }
  .img-container {
    max-width: 250px;
  }
  h5 {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  h1{
      color: var(--background-color-focus);
      font-family: "Open Sans", sans-serif;
      font-weight: 700;
  }
  body{
      height: 100%;
  }
  .background-gradient {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(27, 35, 46, 1));
      z-index: -1;
  }
  .spetial_button {
    /* background-color: var(--background-color-inactive);
      color: white;
      border-radius: 100px;
      transition: background 0.3s ease, opacity 0.3s step-start;
      transform: scale(1); /* Estado inicial (sin hover) */
    /* transition: transform 0.5s ease; */
    border-radius: 100px;
    color: white;
    font-family: "Ubuntu";
    font-weight: 400;
  }