<div class="container mt-5" style="max-width: 650px">
    <div class="col-sm m-2">
        <form action="/clases-plan">
            <div class="row text-center">
                <h2 class="page-title mb-5">Crear una nueva clase</h2>
            </div>
            <div class="container">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">DNI alumno</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Detalle</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="height: 80px;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Dia</label>
                    <input type="text" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="row mt-5">
                    <div class="col align-self-end">
                        <a class="btn back-button border-2" routerLink="/clases-plan">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                              </svg>
                        </a>
                    </div>
                    <button type="submit" class="btn standard-button">Comenzar</button>
                </div>
            </div>
        </form>
    </div>
</div>