<div class="container mt-5" style="max-width: 650px">
    <div class="col-sm m-2">
        <form [formGroup]="formGroupSelector()">
            <div class="row text-center">
                <h2 class="page-title mb-5">{{inputFields[currentRoute].formLabel}}</h2>
            </div>
            <div class="container">
                <div *ngFor="let field of inputFields[currentRoute].formContentLabels" class="mb-3">
                    <!-- Input Fields -->
                    <label class="form-label">{{field.label}}</label>
                    <input *ngIf="field.type!=='textarea'; else textAreaBlock" type="{{field.type}}" class="form-control " formControlName="{{field.formControlName}}">
                    <ng-template #textAreaBlock>
                        <textarea class="form-control" formControlName="{{field.formControlName}}" appAutoResize></textarea>
                    </ng-template>
                </div>
                <!-- Options Selector -->
                <div *ngFor="let optionData of inputFields[currentRoute].formOptionsContent">
                    <label class="form-label mx-2">{{optionData.label}}</label>
                    <select formControlName="{{optionData.formControlName}}">
                        <option *ngFor="let option of optionData.optionsList" value="{{option}}">{{option}}</option>
                    </select>
                </div>
                <!-- <div *ngFor="let optionData of inputFields[currentRoute].formOptionsContent" class="custom-dropdown">
                    <label class="form-label mx-2">{{optionData.label}}</label>
                    <select class="form-select" formControlName="{{optionData.formControlName}}">
                        <option *ngFor="let option of optionData.optionsList" value="{{option}}">{{option}}</option>
                    </select>
                </div> -->
                
                
                <!-- Submit Button -->
                <div class="row ">
                    <div class="col align-self-end">
                        <a class="btn back-button border-2" routerLink="{{inputFields[currentRoute].backButtonURL}}" role="button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z"/>
                            </svg>
                        </a>
                    </div>
                    <button (click)="submit()" class="btn standard-button">{{inputFields[currentRoute].submitButtonLabel}}</button>
                </div>
            </div>
        </form>
    </div>
</div>