:root {
    --background-color-focus: #d0fd3e;
    --background-color-inactive: #1b232e;
    --border-radius: 6px;
    --text-color-inactive: #8076b0;
    --background-default: #1b232e;
}

.custom-dropdown label {
    color: var(--text-color-inactive);
    font-family: "Ubuntu";
    font-weight: 400;
}

.custom-dropdown select {
    color: var(--text-color-inactive);
    background-color: var(--background-color-inactive);
    border: none;
    border-radius: var(--border-radius);
    font-family: "Ubuntu";
    font-weight: 400;
    margin-top: 5px; /* Ajusta el margen superior según sea necesario */
    padding: 5px; /* Ajusta el relleno según sea necesario */
}

.custom-dropdown select:focus {
    background-color: var(--background-color-focus);
    outline: none;
}

.box {
    font-size: 16px;
    font-weight: bold;
    padding: 8px 32px;
}

.custom-delete-button {
    background-color: transparent;
    border: 2px solid red;
    color: red;
    display: flex;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 20px;
}

.custom-delete-button:hover {
    background-color: red;
    color: white;
}

.custom-delete-button svg {
    margin-right: 5px; /* Ajusta el margen entre el ícono y el texto según sea necesario */
}