<div class="d-flex justify-content-center align-items-end banner-container text-center">
	<div class="overlay"></div>
	<h1 class="position-relative m-3">VLAN GYM</h1>
	<div class="background-gradient"></div>
</div>
<!-- Barra lateral -->
<nav class="navbar navbar-dark fixed-top top-nav-bar ">
	<div class="container-fluid top-nav-bar">
		<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
			data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" href="#"></a>
		<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasDarkNavbar"
			aria-labelledby="offcanvasDarkNavbarLabel" style="background-color: #1b232e; color: white;">
			<div class="offcanvas-header" style="background-color: #1b232e;">
				<div class="container px-3 mt-4" style="background-color: #1b232e;">
					<div class="row align-items-center" style="background-color: #1b232e;">
						<div class="col-3 d-flex align-items-center">
							<a class="btn-outline-primary" href="login.html" role="button">
								<img src="css/profe 25.png" alt="Foto de perfil" class="img-fluid rounded-circle"
									style="width: 70px; height: 70px;">
							</a>
						</div>
						<div class="col d-flex flex-column">
							<a class="btn-outline-primary" href="change_user_info.html" role="button" style="text-decoration: none;"><h5>Emily Smith</h5></a>
							<p>correo@example.com</p>
						</div>
					</div>
				</div>
			</div>
			<hr class="mt-1 mb-3">
			<ul class="navbar-nav justify-content-start flex-grow-1 px-2" style="background-color: #1b232e;">
				<li class="nav-item mb-1 spetial_button">
					<a class="nav-link active spetial_button" aria-current="page" href="homePage.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-house ms-3 me-2" viewBox="0 0 16 16">
							<path
								d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
						</svg>
						Inicio</a>
				</li>
				<li class="nav-item mb-1 spetial_button">
					<a class="nav-link spetial_button" href="alumnos-clases.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-house ms-3 me-2" viewBox="0 0 16 16">
							<path
								d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
						</svg>
						Clases</a>
				</li>
				<li class="nav-item mb-1 spetial_button">
					<a class="nav-link spetial_button" href="clases-planificaciones.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-house ms-3 me-2" viewBox="0 0 16 16">
							<path
								d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
						</svg>
						Clases y planificaciones (profesor)</a>
				</li>
				<li class="nav-item mb-1 spetial_button">
					<a class="nav-link spetial_button" href="horarios_direccion.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-house ms-3 me-2" viewBox="0 0 16 16">
							<path
								d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
						</svg>
						Horarios y dirección</a>
				</li>
				<li class="nav-item mb-1 spetial_button">
					<a class="nav-link spetial_button" href="admin_alumnos_profesores.html">
						<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
							class="bi bi-house ms-3 me-2" viewBox="0 0 16 16">
							<path
								d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z" />
						</svg>
						Profesores y alumnos (admin)</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<h5 class="text-center mt-5 mb-5">Nuestros Profesores</h5>
<hr>
<hr>
<div class="container" style="max-width: 850px;">
	<div class="row row-cols-1 row-cols-md-3 g-4 lign-self-center">
		<div class="col ">
			<div class="card h-100 img-container mx-auto">
				<img src="css/profe 21.png" class="card-img-top" alt="...">
				<div class="card-body card-class">
					<h5 class="card-title">Horacio Larreta</h5>
					<p class="card-text">
						<ul>
							<li>PowerLifting</li>
							<li>Running</li>
						</ul>
					<!-- </p> -->
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100 img-container mx-auto">
				<img src="css/profe 25.png" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">Daniela Lopez</h5>
					<p class="card-text">
						<ul>
							<li>Crossfit</li>
							<li>Running</li>
						</ul>
					<!-- </p> -->
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card h-100 img-container mx-auto">
				<img src="css/profe 25.png" class="card-img-top " alt="...">
				<div class="card-body">
					<h5 class="card-title">Pablo Lillo</h5>
					<p class="card-text">
						<ul>
							<li>PowerLifting</li>
							<li>Cardio</li>
						</ul>
					<!-- </p> -->
				</div>
			</div>
		</div>
	</div>
</div>