.dropdown-menu {
    background-color: rgba(94, 109, 131, 0.7);
    backdrop-filter: blur(1px);
    min-width: auto;
    border: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
  }
  .dropdown-item:hover {
    background-color: #d0fd3e;
    color: black;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
.dropdown-item{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
label, select ,option{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;

  }