<div class="d-flex justify-content-center align-items-start">
    <div class="input-group me-1">
        <input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar Inscripto">
    </div>

    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="material-symbols-outlined">
                filter_list
            </span>
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item">Lunes</a></li>
            <li><a class="dropdown-item">Martes </a></li>
            <li><a class="dropdown-item">Miercoles</a></li>
            <li><a class="dropdown-item">Jueves</a></li>
            <li><a class="dropdown-item">Viernes</a></li>
        </ul>
    </div>
</div>