<div class="d-flex justify-content-center align-items-start">
	<div class="input-group me-1">
		<input type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar Inscripto">
	</div>

	<button class="btn dropdown-toggle" type="checkbox" data-bs-toggle="dropdown" aria-expanded="false" >
		<span class="material-symbols-outlined">
			filter_list
		</span>
	</button>
</div>

<div class="btn-group  mt-2">
  <button class="btn dropdown-toggle" style="color: #D0FD3E;" id="dropdownMenuButton" type="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    {{ diaSeleccionado }}
  </button>
  <ul class="dropdown-menu">
	<li *ngFor="let dia of dias">
	  <a class="dropdown-item" (click)="seleccionarDia(dia)">{{ dia === diaSeleccionado ? "✓ "+dia:dia }}</a>
	</li>
  </ul>
  <button class="btn dropdown-toggle" style="color: #D0FD3E;" id="dropdownMenuButton" type="button"
    data-bs-toggle="dropdown" aria-expanded="false">
    {{ tipoSeleccionado }}
  </button>
  <ul class="dropdown-menu">
	<li *ngFor="let tipo of tipos">
	  <a class="dropdown-item" (click)="seleccionarTipo(tipo)">{{ tipo === diaSeleccionado ? "✓ "+tipo:tipo}}</a>
	</li>
  </ul>
</div>
